.this {
  display: flex;
  align-items: center;
  margin-bottom: 0.25em;
}

.bullet {
  aspect-ratio: 1/1;
  height: 0.5em;
  border-radius: 100%;
  background: none;
  flex-shrink: 0;
  width: 0;
  transition-duration: 200ms;
}
.bullet.currenttrue {
  width: 0.5em;
  background: var(--fg);
}

.title {
  margin: 0 0.3em;
  padding: 0.3em 0.3em;
  border-radius: 0.2rem;
  word-break: break-word;
  transition-duration: 100ms;
}

.title:hover {
  cursor: pointer;
  background: var(--hhl);
}

.title:empty::before {
  content: '...';
  display: inline-block;
  color: var(--mg)
}

.title.currenttrue {
  background: var(--hl);
}
.title.currenttrue:hover {
  background: var(--hl);
}

.this button img {
  opacity: 1;
}