@use 'Resources/SASS/colors';
@use 'Resources/SASS/mixins' as *;

.NavNote {
  display: flex;
  align-items: center;
  margin-bottom: 0.25em;
}

.bullet {
  aspect-ratio: 1/1;
  height: 0.5em;
  border-radius: 100%;
  background: none;
  flex-shrink: 0;
  width: 0;
  transition-duration: 200ms;

  &.currenttrue {
    width: 0.5em;

    .dark & {
      background: colors.$fg-dark;
    }

    .light & {
      background: colors.$fg-light;
    }

    .wired & {
      background: colors.$fg-wired;
    }

    .sakura & {
      background: colors.$fg-sakura;
    }
  }
}

.title {
  margin: 0 0.3em;
  padding: 0.3em 0.3em;
  border-radius: 0.2rem;
  word-break: break-word;
  transition-duration: 100ms;

  &.currenttrue {
    .dark & {
      background: colors.$hl-dark;
    }

    .light & {
      background: colors.$hl-light;
    }

    .wired & {
      background: colors.$hl-wired;
    }

    .sakura & {
      background: colors.$hl-sakura;
    }

    &:hover {
      .dark & {
        background: colors.$hl-dark;
      }

      .light & {
        background: colors.$hl-light;
      }

      .wired & {
        background: colors.$hl-wired;
      }


      .sakura & {
        background: colors.$hl-sakura;
      }
    }
  }

  &:hover {
    cursor: pointer;

    .dark & {
      background: colors.$hhl-dark;
    }

    .light & {
      background: colors.$hhl-light;
    }

    .wired & {
      background: colors.$hhl-wired;
    }


    .sakura & {
      background: colors.$hhl-sakura;
    }
  }

  &:empty::before {
    content: '...';
    display: inline-block;
    opacity: 0.5;
  }
}

.NavNote button img {
  opacity: 1;
}

.editButton {
  display: flex;

  @include tablet {
    display: none;
  }
}