.this {
  user-select: none;
  font-weight: bold;
  display: inline-block;
  background: var(--bg);
  border: none;
  border-radius: 0.2rem;
  color: var(--mg);
  aspect-ratio: 1 / 1;
  text-align: center;
  margin-left: 5.4em;
  margin-top: 0.3em;
}

.this:hover {
  cursor: pointer;
  background: var(--hl);
}
.this:focus {
  outline: none;
  background: var(--hl);
}