@use 'colors';

.button {
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
  flex-shrink: 0;
  border: none;
  border-radius: 0.2rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  // user-select: none;
  transition-duration: 100ms;
  background: none;

  &:hover {
    cursor: pointer;

    &.dark {
      background: colors.$hl-dark;
      color: colors.$fg-dark;
    }

    &.light {
      background: colors.$hl-light;
      color: colors.$fg-light;
    }

    &.wired {
      background: colors.$hl-wired;
      color: colors.$fg-wired;
    }

    &.sakura {
      background: colors.$hl-sakura;
      color: colors.$fg-sakura;
    }

    img {
      opacity: 1;
    }
  }

  &:focus {
    outline: none;

    &.dark {
      background: colors.$hl-dark;
      color: colors.$fg-dark;
    }

    &.light {
      background: colors.$hl-light;
      color: colors.$fg-light;
    }

    &.wired {
      background: colors.$hl-wired;
      color: colors.$fg-wired;
    }

    &.sakura {
      background: colors.$hl-sakura;
      color: colors.$fg-sakura;
    }

    img {
      opacity: 1;
    }
  }

  img {
    height: 1rem;
    opacity: 0.5;
    user-select: none;
    transition-duration: 100ms;

    &.light {
      filter: invert(100%);
    }

    &.sakura {
      filter: invert(100%);
    }
  }
}