$shadow-dark: #090909;
$bg-dark: #101010;
$hhl-dark: #191919;
$hl-dark: #303030;
$fg-dark: #ddd;

$shadow-light: #b0b0b0;
$bg-light: #fdfdfd;
$hhl-light: #f1e4da;
$hl-light: #dccaad;
$fg-light: #202020;