$shadow-dark: #090909;
$bg-dark: #101010;
$hhl-dark: #191919;
$hl-dark: #303030;
$fg-dark: #ddd;

$shadow-light: #b0b0b0;
$bg-light: #fdfdfd;
$hhl-light: #f1e4da;
$hl-light: #dccaad;
$fg-light: #202020;

$shadow-wired: #090909;
$bg-wired: #101010;
$hhl-wired: #001b14;
$hl-wired: #005230;
$fg-wired: #dcf1e6;

$shadow-sakura: #b0b0b0;
$bg-sakura: #fdfdfd;
$hhl-sakura: #f1dae6;
$hl-sakura: #dcadce;
$fg-sakura: #202020;