@use './colors';

.inputTextBox {
  min-width: 3ch;
  padding: 0.25rem 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  background: none;
  color: colors.$fg;
  word-break: break-word;
  transition-property: background-color;
  transition-duration: 100ms;
  resize: none;
  overflow: hidden;

  &:hover {
    background: colors.$hhl;
  }

  &:focus {
    outline: none;
    background: colors.$hl;
  }
}