@use './colors';

.inputTextBox {
  min-width: 3ch;
  padding: 0.25rem 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  background: none;
  word-break: break-word;
  transition-property: background-color;
  transition-duration: 100ms;
  resize: none;
  overflow: hidden;

  &.dark {
    color: colors.$fg-dark;
  }

  &.light {
    color: colors.$fg-light;
  }

  &:hover {
    &.dark {
      background: colors.$hhl-dark;
    }

    &.light {
      background: colors.$hhl-light;
    }

  }

  &:focus {
    outline: none;

    &.dark {
      background: colors.$hl-dark;
    }

    &.light {
      background: colors.$hl-light;
    }
  }
}