@use './colors';

.scrollable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  height: 0;
  scrollbar-width: thin;
  scrollbar-color: colors.$bg colors.$hl;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$hl;
    border-radius: 20px;
    border: 3px solid colors.$bg;
  }
}