@use './colors';

.scrollable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  height: 0;
  scrollbar-width: thin;

  &.dark {
    scrollbar-color: colors.$hl-dark colors.$bg-dark;
  }

  &.light {
    scrollbar-color: colors.$hl-light colors.$bg-light;
  }

}