@use './colors';

.textButton {
  padding: 0.2em 0.4em;
  border: none;
  border-radius: 0.25rem;

  &.dark {
    background: colors.$hl-dark;
    color: colors.$fg-dark;
  }

  &.light {
    background: colors.$hl-light;
    color: colors.$fg-light;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    &.dark {
      outline: 1px solid colors.$fg-dark;
    }

    &.light {
      outline: 1px solid colors.$fg-light;
    }
  }
}