.this {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.2em;
}

.text {
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin-left: 0.25rem;
  min-width: 3ch;
  max-width: 62ch;
  word-break: break-word;
}
.text:hover {
  background: var(--hhl);
}
.text:focus {
  outline: none;
  background: var(--hl);
}
.text:empty::before {
  content: '...';
  display: inline-block;
  color: var(--mg)
}