.this {
  display: flex;
  align-items: center;
  margin-bottom: 0.2em;
}
.this:has(textarea[class*='heading']) {
  margin-top: 1.5em;
}

.input {
  background: none;
  outline: none;
  border: none;
  color: var(--fg);
  border-radius: 0.2rem;
  padding: 0.25rem 0.5rem;
  min-width: 3ch;
  max-width: 62ch;
  word-break: break-word;
  transition-property: background-color;
  transition-duration: 100ms;
  resize: none;
  overflow:hidden;
}

.input:hover {
  background: var(--hhl);
}
.input:focus {
  outline: none;
  background: var(--hl);
}

.bulleted {
  display: flex;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  flex-grow: 0;
}

.bullet {
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  background: var(--fg);
  margin: 0 auto;
  align-self: center;
}

.heading {
  font-size: 1.5em;
  font-weight: bold;
  max-width: 48ch;
}

.checkbox {
  display: flex;
  width: 1.5em;
  flex-shrink: 0;
  flex-grow: 0;
}

.checkbox input {
  display: block;
  margin: 0 auto;
}