@use 'Resources/SASS/mixins.scss' as *;

.Tools {
  display: flex;
  margin-left: 0.5em;

  @include tablet {
    position: relative;
  }

  button {
    margin-right: 0.1em;
    padding: 0.2em;
  }

  img {
    transition-duration: 100ms;
  }
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.visible img {
  opacity: 0.5;
  transform: translateY(0);
}

.hidden img {
  opacity: 0;
}

.hidden .first {
  transform: translateY(1em);
}

.hidden .second {
  transform: translateY(1.25em);
}

.hidden .last {
  transform: translateY(1.5em);
}

.clickable:hover {
  cursor: pointer;
}

.draggable {
  &:hover {
    cursor: move;
  }

  &:active {
    cursor: grabbing;
  }
}

.changeType {
  display: flex;
}