.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.this {
  display: flex;
  margin-left: 0.5em;
}

.this button {
  background: none;
  border: none;
  margin: 0;
  height: 1.5em;
  aspect-ratio: 1 / 1;
  margin-right: 0.1em;
  padding: 0.2em;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  transition-duration: 200ms;
}

.this button:hover {
  background: var(--hl);
}

.this button:focus {
  outline: none;
  background: var(--hl);
}

.this img {
  width: 1.2em;
  user-select: none;
  transition-duration: 90ms;
}
.visible img {
  opacity: 1;
  transform: translateY(0);
}
.hidden img {
  opacity: 0;
}
.hidden img.first {
  transform: translateY(1em);
}
.hidden img.second {
  transform: translateY(1.25em);
}
.hidden img.last {
  transform: translateY(1.5em);
}

.clickable:hover {
  cursor: pointer;
}

.draggable:hover {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}