.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.this {
  display: flex;
  position: relative;
  margin-left: 0.5em;
}

.this button {
  margin-right: 0.1em;
  padding: 0.2em;
}

.this img {
  transition-duration: 100ms;
}
.visible img {
  opacity: 1;
  transform: translateY(0);
}
.hidden img {
  opacity: 0;
}
.hidden img.first {
  transform: translateY(1em);
}
.hidden img.second {
  transform: translateY(1.25em);
}
.hidden img.last {
  transform: translateY(1.5em);
}

.clickable:hover {
  cursor: pointer;
}

.draggable:hover {
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

.changeType {
  display: flex;
}