@use 'Resources/SASS/colors.scss';

.Body {
  display: flex;
  flex-grow: 1;
  height: 100%;
  position: relative;

  h2 {
    margin-left: 1em;
  }

  &.dark {
    background-color: colors.$hl-dark;
  }

  &.light {
    background-color: colors.$hl-light;
  }

  &.wired {
    background-color: colors.$hl-wired;
  }

  &.sakura {
    background-color: colors.$hl-sakura;
  }

  .flower {
    position: absolute;
    opacity: 0.9;

    .dark {
      &.bg {
        fill: colors.$bg-dark;
      }

      &.hhl {
        fill: colors.$hhl-dark;
      }

      &.hl {
        fill: colors.$hl-dark;
      }

      &.fg {
        fill: colors.$fg-dark;
      }
    }

    .light {
      &.bg {
        fill: colors.$bg-light;
      }

      &.hhl {
        fill: colors.$hhl-light;
      }

      &.hl {
        fill: colors.$hl-light;
      }

      &.fg {
        fill: colors.$fg-light;
      }
    }

    .wired {
      &.bg {
        fill: colors.$bg-wired;
      }

      &.hhl {
        fill: colors.$hhl-wired;
      }

      &.hl {
        fill: colors.$hl-wired;
      }

      &.fg {
        fill: colors.$fg-wired;
      }
    }

    .sakura {
      &.bg {
        fill: colors.$bg-sakura;
      }

      &.hhl {
        fill: colors.$hhl-sakura;
      }

      &.hl {
        fill: colors.$hl-sakura;
      }

      &.fg {
        fill: colors.$fg-sakura;
      }
    }
  }
}