@use '../../Resources/SASS/colors.scss';

.Body {
  display: flex;
  flex-grow: 1;
  height: 100%;
  position: relative;

  h2 {
    margin-left: 1em;
  }

  &.dark {
    background-color: colors.$shadow-dark;
  }

  &.light {
    background-color: colors.$hl-light;
  }
}