@keyframes button {
  from {
    transform: translateY(1em);
  }

  to {
    transform: translateY(0);
  }
}

.this {
  position: absolute;
  z-index: 1;
  border-radius: 0.3em;
  padding: 0.2em;
  background: var(--hhl);
  margin-left: 2em;
  transition: 100ms;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1em 0.2em var(--shadow);
}
.fromToolsUp {
  margin-left: calc(-100% - 1.3em);
  transform: translateY(calc(-100% - 0.5em));
}
.fromToolsDown {
  margin-left: calc(-100% - 1.3em);
  transform: translateY(calc(2em));
}
@media (min-width: 768px) {
  .this {
    margin-left: 2em;
    transform: translateY(calc(-100% + 1.55em));
  }
}

.this button {
  background: none;
  border: none;
  margin: 0;
  margin: 0.1em;
  padding: 0.2em;
  border-radius: 0.3em;
  align-items: center;
  display: flex;
  transition-duration: 100ms;
  animation: button 150ms ease-out;
  animation-fill-mode: forwards;
}

.enabled:hover {
  background: var(--hl);
  cursor: pointer;
}

.enabled:focus {
  outline: none;
  background: var(--hl);
}

.disabled img {
  opacity: 0.5;
}

.this img {
  width: 2em;
  aspect-ratio: 1/1;
  user-select: none;
  align-self: center;
  padding: 0.1em;
}

.row {
  display: flex;
}