@use '../../../Resources/SASS/colors';
@use '../../../Resources/SASS/mixins' as *;

@keyframes button {
  from {
    transform: translateY(1em);
  }

  to {
    transform: translateY(0);
  }
}

.ItemTypeMenu {
  position: absolute;
  z-index: 2;
  border-radius: 0.3em;
  padding: 0.2em;
  margin-left: calc(-100% + 0.3em);
  transition: 100ms;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1em 0.2em;

  &.dark {
    background: colors.$hhl-dark;
    color: colors.$shadow-dark;
  }

  &.light {
    background: colors.$hl-light;
    color: colors.$shadow-light;
  }

  &.fromToolsUp {
    transform: translateY(calc(-100% - 0.5em));
  }

  &.fromToolsDown {
    transform: translateY(calc(2em));
  }

  @include tablet {
    margin-left: -2.3em;
  }

  button {
    background: none;
    border: none;
    margin: 0;
    margin: 0.1em;
    padding: 0.2em;
    border-radius: 0.3em;
    align-items: center;
    display: flex;
    transition-duration: 100ms;
    animation: button 150ms ease-out;
    animation-fill-mode: forwards;
  }

  img {
    width: 2em;
    aspect-ratio: 1/1;
    user-select: none;
    align-self: center;
    padding: 0.1em;

    &.dark {
      filter: invert(0%);
    }

    &.light {
      filter: invert(100%);
    }
  }
}

.notFromTools {
  margin-left: 2em;
  transform: translateY(calc(-100% + 1.55em));
}

.enabled {
  &:hover {
    cursor: pointer;

    .dark & {
      background: colors.$hl-dark;
    }

    .light & {
      background: colors.$hhl-light;
    }
  }

  &:focus {
    outline: none;

    .dark & {
      background: colors.$hl-dark;
    }

    .light & {
      background: colors.$hhl-light;
    }
  }
}

.disabled img {
  opacity: 0.5;
}

.row {
  display: flex;
}