@media (min-width: 768px) {
  .this {
    margin: 2em 1em;
  }
}
.this {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 87ch;
}

.this input {
  background: var(--bg);
  color: var(--fg);
  border: none;
}
.this input:hover {
  background: var(--hhl);
}
.this input:focus {
  outline: none;
  background: var(--hl);
}