.this {
  margin-top: 4em;
  margin-left: 1em;
}
.this input {
  background: var(--bg);
  color: var(--fg);
  border: none;
}
.this input:hover {
  background: var(--hhl);
}
.this input:focus {
  outline: none;
  background: var(--hl);
}