.this {
  margin: 1em 0.5em;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .this {
    margin: 2em 1em;
  }
}
.this {
  flex-grow: 1;
  overflow: auto;
  height: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--bg) var(--hl);
}

.this::-webkit-scrollbar {
  width: 12px;
}

.this::-webkit-scrollbar-track {
  background: none;
}

.this::-webkit-scrollbar-thumb {
  background-color: var(--hl);
  border-radius: 20px;
  border: 3px solid var(--bg);
}

.this input {
  background: var(--bg);
  color: var(--fg);
  border: none;
}
.this input:hover {
  background: var(--hhl);
}
.this input:focus {
  outline: none;
  background: var(--hl);
}