.button {
  display: flex;
  height: 1.5em;
  width: 1.5em;
  flex-shrink: 0;
  border: none;
  border-radius: 0.2rem;
  font-weight: bold;
  background: var(--bg);
  color: var(--mg);
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  transition-duration: 100ms;
}

.button:hover {
  cursor: pointer;
  background: var(--hl);
  color: var(--fg);
}
.button:focus {
  outline: none;
  background: var(--hl);
  color: var(--fg);
}

.button img {
  height: 1.2em;
  opacity: 0.5;
  user-select: none;
  transition-duration: 100ms;
}
.button:hover img {
  opacity: 1;
}