.textButton {
  padding: 0.2em 0.4em;
  border: none;
  border-radius: 0.25rem;
  background: var(--hl);
  color: var(--fg);
}
.textButton:hover {
  cursor: pointer;
}
.textButton:focus {
  outline: 1px solid var(--fg);
}