.this {
  background: var(--hhl);
  display: flex;
  flex-grow: 0;
  align-items: center;
  border-bottom: 1px solid var(--hl);
  user-select: none;
}

.title {
  display: inline-block;
  margin: 0;
  padding: 0.3em;
  font-size: 3em;
}

.subtitle {
  font-size: 1.2em;
  margin-left: 1ch;
  display: none;
  flex-grow: 1;
}

.dropdown {
  flex-grow: 1;
  margin-right: 1em;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .subtitle {
    display: block;
  }

  .dropdown {
    display: none;
  }
}

.dropdown img {
  width: 2.5em;
  height: 2.5em;
}

.bold {
  background: pink;
  display: inline-block;
  color: var(--bg);
  border-radius: 25%;
  aspect-ratio: 1 / 1;
}