@use '../../../Resources/SASS/colors';
@use '../../../Resources/SASS/mixins' as *;

.Nav {
  flex-direction: column;
  border-right: 1px solid;
  user-select: none;
  display: flex;
  position: absolute;
  left: -100vw;
  width: 100vw;
  height: 100%;
  opacity: 0;
  transition-duration: 250ms;
  z-index: 1;

  &.dark {
    background-color: colors.$bg-dark;
    border-color: colors.$hl-dark;
  }

  &.light {
    background-color: colors.$bg-light;
    border-color: colors.$hl-light;
  }

  @include tablet {
    width: 30ch;
    position: static;
    flex-grow: 0;
    opacity: 1;
    height: auto;
  }
}

.dropped {
  height: 100%;
  opacity: 1;
  left: 0;

  @include tablet {
    height: auto;
  }
}

.list {
  padding: 1em 0.5em 0.5em;
  border-bottom: 1px solid;

  .dark & {
    border-color: colors.$hl-dark;
  }

  .light & {
    border-color: colors.$hl-light;
  }
}

.bottom {
  padding: 0.6em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.3em;
  align-items: center;

  .dark & {
    background: colors.$hhl-dark;
  }

  .light & {
    background: colors.$hhl-light;
  }
}

.link {
  flex-grow: 0;
  background: none;
  border: none;
  margin: 0;
  padding: 0.3em;
  display: flex;
  align-items: center;
  transition-duration: 200ms;
  outline: 1px solid;
  outline-color: transparent;

  .dark & {
    color: colors.$fg-dark;
  }

  .light & {
    color: colors.$fg-light;
  }

  &:hover {
    cursor: pointer;
    border-radius: 100%;

    .dark & {
      background-color: colors.$hl-dark;
    }

    .light & {
      background-color: colors.$hl-light;
    }
  }

  &:focus {
    border-radius: 100%;

    .dark & {
      background-color: colors.$hl-dark;
    }

    .light & {
      background-color: colors.$hl-light;
    }
  }

  img {
    width: 1.5em;
    height: 1.5em;
    box-sizing: border-box;

    .light & {
      filter: invert(100%);
    }
  }
}

@keyframes greyedShow {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}

.greyedout {
  position: fixed;
  z-index: 3;
  width: 200vw;
  height: 200vh;
  transform: translateY(-50vh);
  user-select: none;
  animation-name: greyedShow;
  animation-duration: 200ms;

  .dark & {
    background: rgba(0, 0, 0, 0.4);
  }

  .light & {
    background: rgba(0, 0, 0, 0.2);
  }
}