@use '../../../Resources/SASS/colors';
@use '../../../Resources/SASS/mixins' as *;

.Nav {
  flex-direction: column;
  border-right: 1px solid;
  user-select: none;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 0;
  opacity: 0;
  transition: 100ms;
  z-index: 1;
  &.dark {
    background-color: colors.$bg-dark;
    border-color: colors.$hl-dark;
  }
  &.light {
    background-color: colors.$bg-light;
    border-color: colors.$hl-light;
  }

  @include tablet {
    width: 30ch;
    position: static;
    flex-grow: 0;
    opacity: 1;
    height: auto;
  }
}

.dropped {
  height: calc(100% - 5.5em);
  opacity: 1;

  @include tablet {
    height: auto;
  }
}

.list {
  padding: 1em 0.5em 0.5em;
  border-bottom: 1px solid;
  .dark & {
    border-color: colors.$hl-dark;
  }
  .light & {
    border-color: colors.$hl-light;
  }
}

.bottom {
  padding: 0.6em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.3em;
  
  .dark & {
    background: colors.$hhl-dark;
  }
  .light & {
    background: colors.$hhl-light;
  }

  @include tablet {
    flex-direction: column;
  }
}

.link {
  font-size: 1.1em;
  font-family: inherit;
  font-weight: bold;
  flex-grow: 0;
  background: none;
  border: none;
  margin: 0 0.3em;
  .dark & {
    color: colors.$fg-dark;
  }
  .light & {
    color: colors.$fg-light;
  }
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.greyedout {
  position: fixed;
  z-index: 2;
  width: 200vw;
  height: 200vh;
  transform: translateY(-50vh);
  background: #0008;
}