.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.this {
  display: flex;
  margin-top: 0.3em;
}
.this button {
  background: none;
  border: none;
  margin: 0;
  margin-right: 0.25ch;
  padding: 0.3ch;
  border-radius: 0.5ch;
  display: flex;
  align-items: center;
}
.this button:hover {
  background: var(--hl);
}
.this button:focus {
  outline: none;
  background: var(--hl);
}
.this img {
  width: 2ch;
  user-select: none;
}

.clickable:hover {
  cursor: pointer;
}
.draggable:hover {
  cursor: grab;
}
.draggable:active {
  cursor: grabbing;
}