.this {
  user-select: none;
  font-weight: bold;
  background: var(--bg);
  border: none;
  border-radius: 0.2rem;
  color: var(--mg);
  aspect-ratio: 1 / 1;
  text-align: center;
  margin-left: 0.3em;
  margin-top: 0.3em;
  flex-grow: 0;
  transition-duration: 100ms;
}

.this:hover {
  cursor: pointer;
  background: var(--hl);
  color: var(--fg);
}
.this:focus {
  outline: none;
  background: var(--hl);
  color: var(--fg);
}