@use '../../../Resources/SASS/colors';
@use '../../../Resources/SASS/mixins' as *;

.WindowedSection {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 50;
  left: 50%;
  top: 50%;
  width: max-content;
  max-width: 90vw;
  transform: translate(-50%, -50%);

  border: 1px solid;
  border-radius: 1rem;

  &.dark {
    background: colors.$bg-dark;
    border-color: colors.$hl-dark;
    box-shadow: 0 0 1rem 0.2rem #000;
  }

  &.light {
    background: colors.$bg-light;
    border-color: colors.$hl-light;
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2);
  }

  @include tablet {
    width: fit-content;
  }

  &:focus {
    outline: none;
  }

  hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid;
    border-color: inherit;
  }
}

.topBar {
  padding: 1em;

  border-bottom: 1px solid;
  border-color: inherit;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  align-items: center;

  .dark & {
    background: colors.$hhl-dark;
  }

  .light & {
    background: colors.$hhl-light;
  }

  h2 {
    display: inline;
    margin: 0;
    flex-grow: 1;
  }

  .close {
    background: none;
    padding: 0;
    border: none;
    display: flex;
    border-radius: 100%;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;

      .light & {
        filter: invert(100%);
      }
    }
  }
}

.content {
  padding: 1rem;
  border: none;

  .dark & {
    border-color: inherit;
  }

  .light & {
    border-color: inherit;
  }

  a {
    .dark & {
      color: colors.$fg-dark;
    }

    .light & {
      color: colors.$fg-light;
    }

    font-weight: bold;
  }
}