:root {
  --bg: #101010;
  --hhl: #191919;
  --hl: #303030;
  --mg: #888;
  --fg: #ddd;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg);
  color: var(--fg);
}