:root {
  --bg: #090909;
  --hhl: #131313;
  --hl: #222;
  --mg: #888;
  --fg: #ddd;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg);
  color: var(--fg);
}