@use 'Resources/SASS/colors';
@use 'Resources/SASS/mixins' as *;

body {
  margin: 0;
  font-family: monospace;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include tablet {
    font-size: medium;
  }
}